@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
/* Containers */
    
.callout-container {
    height: 100vh;

    background: url('../images/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
}


.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fff;
}

.block-divider {
    background-color: #fff;
}

/* Navbar */

.nav-brand {
    text-decoration: none;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #000;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.nav-link {
color: #fff;
}

.nav-link:hover {
    color: #DDA15E;
    }

.info h2 {
    text-align: center;
    color: #283618;
    margin: 50px;
}

.info{
  margin: 0 auto;
  width: 80%;
  line-height: 30px;
  text-align: justify;
}

/*button*/

.btn:hover {
    background-color: #DDA15E;
}

footer {
    background-color: #283618;
    text-align: center;
}

.footerText {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.social-media {
    text-align: center;
    margin: auto;
}

  .social-media > li {
    display:inline;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

  .social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 3%;
    color: #ffffff;
}

