@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}


/* Containers */
    
.callout-container {
    height: 100vh;

    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1639407412/hero_lqjrta.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.post-container {
    height: 40vh;
    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1640102647/blog_uttnl1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DDA15E;
}

.trainer-container {
    height: 60vh;
    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1639407411/hero2_kesktl.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.map-container {
    background-color: #22333B;
}

.pilates-container {
    height: 60vh;
    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1639407412/pilates_moohgk.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-container {
    height: 60vh;
    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1639407412/spin_tka889.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circuit-container {
    height: 60vh;
    background: url('https://res.cloudinary.com/dw11tbftk/image/upload/v1639407410/circuit_kormkh.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    background-color: #fafafa;
    text-align: center;
}

.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 140px;
    color: white;
}


.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fff;
}

.block-divider {
    background-color: #fff;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #283618;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #22333B;
    padding: 20px;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

/*button*/


.btn {
    margin: 5px;
}

.btn:hover {
    background-color: #DDA15E;
}

img{
    text-align: center;
    width: inherit;
    margin-bottom: 10%;
    clear: both;
}

p {
     width: inherit;
     color: #22333B;
 }  

div#map {min-height: 360px;}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0;
    z-index: 9999;
}

.nav-link {
    color: #000;
    display: inline;
    text-decoration: none;
}

.nav-link:hover {
    color: #DDA15E;
}

.list-unstyled {
    text-decoration: none;
    z-index: 9999;
}


.bio h1 {
    font-family: 'Permanent Marker', cursive;
    color: #5E503F;
}

.bio p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    color: #5E503F;
}


.brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #283618;
}

.red-o {
    color: #DDA15E;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #22333B;
}

.card {
    border: 1px;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #DDA15E;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #DDA15E;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #DDA15E;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #DDA15E;
}

.post-link:hover,
.page-link {
    color: #283618;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

p.style {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.btn-signup {
    background-color: #283618;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #DDA15E;
}

.link {
    color: #DDA15E;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #283618;
    text-decoration: underline;
}

.btn-like {
    color: #fff;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #DDA15E;
    background: transparent;
    border: none;
}

/* members stories */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.social-media {
    text-align: center;
    margin: auto;
}

footer {
    height: 150px;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    margin: 1%;
    padding: 20px;
    color: #fff;
}
