{% extends "base.html" %}

{% block content %}

<section class="container-fluid circuit-container">
</section>
  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Circuit Training</h2><br>
          <p>Circuit training is a combination of six or more exercises performed with short rest periods between them
            for either a set number of repetitions or a prescribed amount of time. One circuit is when all of the chosen
            exercises have been completed. Multiple circuits can be performed in one training session.</p><br>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div  class="row bio">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              What is circuit training good for?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Circuit training challenges your whole body, tackling weight loss, strength, cardio fitness and core training.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              What type of training is circuit training?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Circuit training is a high intensity, fast-paced workout that can help tone your body and shed fat. Circuit classes are high energy and 
              fast-paced and involve moving your way around different exercise stations performing each exercise as many times as you can in a set amount of time. Maximum rest 
              between sets is 20-30 seconds.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Is circuit training better than weight training?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Circuit training is no better than weight training and vice versa. They are two different forms of training which can provide 
              benefits to your health.<br><br>

              Circuit training often involves lighter weights and higher reps with short rest times, which can help to improve muscular endurance and cardio fitness. 
              Weight training tends to focus more on purely building muscle or improving strength through performing heavier weights and lower reps, with longer rests in 
              between sets.<br><br>
              
              Consider your fitness goals before choosing which exercise to do. Both workouts are valuable for overall health.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{%endblock%}