{% extends "base.html" %}

{% block content %}

<section class="container-fluid circuit-container">
  </section>
  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Circuit Training</h2><br>
          <p>Circuit training is a combination of six or more exercises performed with short rest periods between them
            for either a set number of repetitions or a prescribed amount of time. One circuit is when all of the chosen
            exercises have been completed. Multiple circuits can be performed in one training session.</p><br>
        </div>
      </div>
    </div>
  </section>
  
{%endblock%}