{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

  <section class="container-fluid map-container">
  </section>

<section class="container container-fluid">
    <div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2>How to find us</h2>
            <p>During the current Covid-19 pandemic, all visits must be arranged by appointment only. Please contact us to arrange your visit.</p>
            <p>
                <p><strong>Address:</strong><br>Oxford City Centre<br>Oxfordshire<br>OX1 6CU</p>
            </p>
          </div>
          <div class="col-md-6 col-sm-10" id= "map">
            Map
          </div>
        </div>
        </div>
</section>

{%endblock%}