{% extends "base.html" %}

{% block content %}

<section class="container-fluid pilates-container">
</section>
  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Pilates</h2><br>
          <p>Pilates is a low impact exercise comprising controlled movements that enhance your balance, core strength,
            mobility, flexibility, and even mood. It focuses on the smaller and deeper muscles that support your
            structure and enhance your overall health.</p><br>
        </div>
    </div>
    </div>
  </section>
  <section>
    <div  class="row bio">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              What are the benefits of Pilates?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Pilates is good for your whole body. Benefits include increased range of motion and flexibility, more energy, 
              better posture and body awareness, breathing techniques and reduced stress, increased stamina, improved concentration and mindfulness.

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              What is teh difference between Yoga in Pilates?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Yoga and Pilates are similar. They both can help to increase strength, flexibility, and wellbeing.<br><br>

              Yoga focuses on breathing techniques, strength and flexibility.<br><br>
              
              Pilates focusses on toning your body and improving your posture and movement.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              What does pilates do for you?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><strong>Increased sports performance</strong><br><br>

              Pilates can help to balance your body, develop muscular symmetry and align your posture and helps to reduce the likelihood of injuries.<br><br>
              
              <strong>Reduced stress and anxiety</strong><br><br>
              
              Tension can build in your muscles, causing stress on your body. Stretching and conditioning with Pilates can help you relieve that tension in your body.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}