{% extends "base.html" %}

{% block content %}

<section class="container-fluid pilates-container">
  </section>
  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Pilates</h2><br>
          <p>Pilates is a low impact exercise comprising controlled movements that enhance your balance, core strength,
            mobility, flexibility, and even mood. It focuses on the smaller and deeper muscles that support your
            structure and enhance your overall health.</p><br>
        </div>
    </div>
    </div>
  </section>

{%endblock%}