{% extends "base.html" %}

{% block content %}

  <section class="container-fluid spin-container">
  </section>

  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Spin</h2><br>
          <p>Whether you call it indoor cycling or spinning, pedaling a stationary bike for a solid 30 to 60 minutes is
            a great workout. It also qualifies as low impact exercise. For a lot of people, low impact is just what they
            need to help them lose weight. Indoor cycling can certainly do that.</p><br>
        </div>
      </div>
    </div>
  </section>

{%endblock%}