{% extends "base.html" %}

{% block content %}

  <section class="container-fluid spin-container">
  </section>

  <section class="container container-fluid">
    <div>
      <div>
        <div class="row bio">
          <h2>Spin</h2><br>
          <p>Whether you call it indoor cycling or spinning, pedaling a stationary bike for a solid 30 to 60 minutes is
            a great workout. It also qualifies as low impact exercise. For a lot of people, low impact is just what they
            need to help them lose weight. Indoor cycling can certainly do that.</p><br>
            <p>Riding a stationary exercise bike is an efficient and effective way to burn calories and body fat while strengthening your heart, lungs, and muscles. 
              Compared to some other types of cardio equipment, a stationary bicycle puts less stress on your joints, but it still provides an excellent aerobic workout.</P>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div  class="row bio">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              What are the benefits of cycle class??
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Not only is cycling good for improving cardiovascular fitness, it's low impact and can help to improve your leg strength.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Is spin class good for loosing weight?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Like most cardio exercises, a cycle class can be a great way to increase your energy expenditure to aid weight loss. 
              It can also help to strengthen your leg muscles by adding resistance.<br><br>

              Weight loss is dependent on energy balance. To lose weight you will need to be in an energy deficit. If cycle classes help you to achieve a 
              deficit and you enjoy cycle classes, it can be a good way to lose weight.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How many calories do you burn in spin?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">The calories you burn is very individual and depends on many factors such are your fitness level, height and weight. 
              Cycle is more intense than most cardio activities.</div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}